/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: sans-serif;
    margin-top: 60px;
  }
  
  a{
    text-decoration: none;
    color: black;
  }

  ul{
    list-style-type: none;
  }

  h1{
    font-size: 50px;
    margin-bottom: 30px;
  }
  
  /*buttons*/
  button{
    padding: 5px 50px; 
    border: none;
    margin: 20px 0;
    
    color: #fff;
    background-color: #0061FF;
    
    cursor: pointer;
  }  

  .login{
    padding: 5px ;
  }


  /* Utils */
  
  .container {
    max-width: 70%;
    margin: 0 auto;
  }
  


  .flex {
    display: flex;
  }
  

  
  .debug .border {
    border: 2px dashed black;
  }
  
 
  /*header*/
 

  /* # Navbar */
  
  .navbar {
    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #fff;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

  }
  
  .navbar > * {
    padding: 10px;
    width: calc(100% / 2);
   
  }
  
  .logo{
    max-height: 18px;
  }

  .navbar-menu {
    flex-grow: 1;
    
    text-align: center;

  }
  
  .nav-link{
    margin: 0 15px; 
    
  }

  .navbar-actions {
    display: flex;
    justify-content: end; 
    align-items: center;
    
  }
  
  /* # Jumbotron */
  
  .jumbotron {
    padding: 50px;
    height: 500px;
    margin-bottom: 50px;
    background-color: #B4D0E7;
    
  
    display: flex;
    justify-content: center;
  }
  
  .jumbotron .content {
    width: 80%; 
    height: 400px;
    
   
  }

  .jumbo-col-smal{
    width: 30%;
  }

  .jumbo-col-big{
    width: 70%;
  }

  .site-img{
    max-width: 100%;
  }

  .fa-arrow-down{
    font-size: 35px;
    margin-top: 58px;
  }
  
  /* # Main & sections */
 
  section{
    margin-top: 30px;
  }


.team{
    min-height: 400px;
    background-color: azure;
}

.flex > .small-col {
    flex-basis: 40%;
    background-color: rgb(175, 68, 86);
}

.flex > .large-col {
    flex-basis: 60%;
    background-color: dodgerblue;
}

.row{
    display: flex;
    flex-wrap: wrap; 
    
    
}

.col{
    width: calc(100% / 3);
    height: 400px; 

}

.col-bottom{
    width: calc(100% / 2);
    height: 200px;
}
  
  /* # Footer */
  
  footer {
    padding: 50px;
    background-color: #23272a;
    color: white;
  }
  
  .footer-top {
    height: 600px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
  
   
  }
  

  
  .footer-top  {
    width: 80%;
   
    margin: 0 auto;
  }
  
  .footer-nav {
    height: 100%;
    display: flex;
    background-color: #fff; 
  }
  
  .footer-nav > div {
    width: 20%;
  }
  
 