/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: sans-serif;
    margin-top: 60px;
  }
  
  li > a{
    text-decoration: none;
    color: black;
  }

  ul{
    list-style-type: none;
  }

  h1{
    font-size: 50px;
    margin-bottom: 30px;
  } 

  h2{
    font-size: 30px;
  }

  main{
    margin-top: 130px;
  }
  
  /*buttons*/
  button{
    padding: 10px 50px; 
    border: none;
    margin: 20px 0px;
    
    color: #fff;
    background-color: #0061FF;
    
    cursor: pointer;
  }  

  .buy{
    margin-top: 40px;
    margin-left: 10px;
    
}

  .login{
    padding: 5px ;
  }
  .try-dropbox-buisness{
    margin: 0;
    color: black;
    background-color: white;
  }

  /* Utils */
  
  .bg-lightgreen{
    background-color: #A2D39B;
  }

  .bg-darkred{
    background-color: #61082B;
  }

  .bg-lightblue{
    background-color: #0093CE;
  }

  .bg-lightred{
    background-color: #FF1C1C;
  }

  .bg_lightgrey{
    background-color: #F5F5F5;
  }

  .bg-red{
    background-color: #D5001F;
  }

  .bg-azure{
    background-color: #B4D0E7;
  }

  .bg-darkblue{
    background-color: #0D2481;
  }

  .bg-yelow{
    background-color: #FFD830;
  }

  .container {
    max-width: 70%;
    margin: 100px auto;
  }

  .container-m0{
    max-width: 70%;
    margin: 0 auto;
    padding-top: 50px;
  }
  
.font-style{
    font-size: 12px;
    color: gray; 
    
    display: block;
    margin-top: 5px;
}

  .flex {
    display: flex;
  }
  
.mb-30{
  margin-bottom: 30px;
}
.m-height{
  min-height: 200px;

} 

/* margin rule */
.horizontal-rule{
  margin: 40px 10px;
  border-top: 1px solid black ;
 
  width: 20%;
}
  

  .bo-white{
    border-color: white;
    margin: 80px 0;
  }
 
  /*header*/
 

  /* # Navbar */
  
  .navbar {
    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #fff;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  
  .navbar > * {
    padding: 10px;
    width: calc(100% / 2);
   
  }
  
  .logo{
    max-height: 18px;
  }

  .navbar-menu {
    flex-grow: 1;
    
    text-align: center;

  }
  
  .nav-link{
    margin: 0 15px; 
    
  }

  .navbar-actions {
    display: flex;
    justify-content: end; 
    align-items: center;
    
  }
  
  /* # Jumbotron */
  
  .jumbotron {
    padding: 50px;
    height: 560px;
    margin-bottom: 50px;
    background-color: #B4D0E7;
    
  
    display: flex;
    justify-content: center;
  }
  
  .jumbotron .content {
    width: 80%; 
    
    
   
  }

  .jumbo-col-smal{
    width: 30%;
  }

  .jumbo-col-big{
    width: 70%;
  }

  .site-img{
    max-width: 100%;
  }

  .fa-arrow-down{
    font-size: 35px;
    margin-top: 45px;
  }
  
  /* # Main & sections */
 
 


    /* subscriptio*/
.business{
    margin-bottom: 40px;
}

/* chek buttons */
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 40px 0;
} 

.chek > p{
    margin: 40px 0;
}

.month{
    border: 5px solid #0061FF; 
    
}

.anual{
    border: 2px solid #D4D4D7;
    margin-left: 70px;
}

/* subscriptio */
.subscription{
    border: 1px solid black;
}
 
.paragraph-title{
    margin-bottom: 15px;
}

.business-info{
  gap: 30px;
}

.subscription-info{
    height: 30px;
    border-bottom: 1px solid black;
    
    text-align: center;
    line-height: 30px;

}

.priece, .sub-info{
    margin: 30px 10px;
}

li{
    margin-top: 30px;
}
li > i{
    margin-right: 8px;
}






.fa-check{
    color: #2667FF;
}


 /*enterprise info*/

.enterprise-info{
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
} 

.enterprise-info > h2{
    margin-bottom: 30px;
}
.enterprise-info > h4{
    margin-bottom: 40px;
}

.small-col > button{
    margin-left: 90px;
}

.partner{
    width: 100%;
    display: block;
}

.dropbox-partner{
    margin: 45px 30px;
}

.dropbox-partner > p{
    margin: 20px 0;
} 

.find-partner{
    background-color: #fff;
    color: black;
    border: 2px solid black; 
    padding: 5px;
    font-size: 17px;
}
 /*resto*/

.flex > .small-col {
   
    width: 40%;
   
}

.flex > .large-col { 
    
    width: 60%;
    
}
/* Dropbox-buisiness info*/

.business{
  padding: 0 20px;
}

.col > img{
  max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap; 
    
    
}

.col{
    width: calc(100% / 3);
    min-height: 400px; 

}

/* Dropbox clients info */

#dropbox-clients-title{
  font-size: 45px;
  margin-bottom: 50px;
}



.clients-info > img{
  max-width: 80%;
  text-align: center;
}
  .clients-info{
    display: inline-block;
    max-width: 80%;
    text-align: center;
  }

  .design-client-info{
    margin: 30px;
  }




.col-bottom{
    width: calc(100% / 2);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

/* free dropbox buisness trial */


  /* comon questions */

  .questions{
    border-top: 1px solid black;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  /* # Footer */
  
  footer {
    padding: 50px;
    background-color: black;
    color: white;
  }

  .footer-top {
    min-height: 300px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    
  
   
  } 
  .nav-col > h3{
    margin-bottom: 25px;
  }
  .footer-list > li{
    margin-top: 15px;

  }

  .footer-link{
    color: white;
  }
  

  
  .footer-top  {
    width: 80%;
   
    margin: 0 auto;
  }
  
  .footer-nav {
    height: 100%;
    display: flex;
     
  }
  
  .footer-nav > div {
    width: 20%;
  }
  
 